.logo{
    width: 160px;
    margin-left: 24px;
    font-weight: 600;
    display: flex;
    flex-wrap: nowrap;
}
.logoIcon{
    color: var(--primary-c);
    font-size: 2.4rem;
}
.logoTitle{
    color: var(--primary-c);
    font-size: 2.4rem;
}