.statsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 0;
  height: 150px;
}

.card {
  background: #fff;
  height: 60%;
  border-radius: 16px;
  padding: 18px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
  &:hover {
    transform: translateY(-3px);
  }

  h3 {
    color: #666;
    font-size: 14px;
  }

  .value {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-top: 5px;
  }

  .change {
    font-size: 13px;
    color: #0bb783;
  }

  img {
    width: 100%;
    height: 50%;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .row {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 8px;
  }
}
