.account{
    margin-right: 24px;
}
.accountAvt{
    position: relative;
    display: flex;
    height: 40px;
    width: 40px;
}
.accountImg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1px solid #000000;
    overflow: hidden;
}
.accountImgItem{
    height: 40px;
    width: 40px;
    object-fit: cover;
}
.accountIcon{
    position: absolute;
    right: -16px;
    top: 50%;
    transform: translateY(-50%);
}
.accountIconItem{
    font-size: 1.2rem;
    color: var(--text-c);
}